/* colours */
body {
  background: #bca9ff;
}
#bg0 {
  background-image: linear-gradient(to bottom, #000000 0%, #bca9ff 100%);
}
#bg1 {
  background-image: linear-gradient(to bottom, #71438C 0%, #000000 100%);
}
/* layout */
body {
  margin: 0;
  padding: 0;
}
#bg0, #bg1 {
  position: absolute;
  width: 100%;
}
#bg0 {
  top: 0;
  height: 90%;
}
#bg1 {
  top: 90%;
  height: 10%;
}
